*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: 0;
    
}

h1, h2, p, li, span, input, button{
    font-family: Poppins;
}

.back{
    position: relative;
    width: 100%;
    height: 900px;
    background-color: #dedad3;
}

.back .holder{
    position: absolute;
    width: 500px;
    height: 600px;
    background-color: #F3E1EF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.back .holder .inner{
    position: relative;
    width: 470px;
    height: 550px;
    background-image: linear-gradient(100deg, #B8E8E9, #000);
    margin-top: 25px;
    margin-left: 15px;
}

.back .holder .inner .write-up{
    position: relative;
    width: 420px;
    height: 510px;
    background-color: #F3E1EF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 0px;
}

.back .holder .inner .write-up h1{
    position: relative;
    width: 200px;
    height: 35px;
    color: #000;
    text-align: center;
    font-size: 23px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-image: linear-gradient(100deg, #B8E8E9, #F3E1EF);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: bold;
    font-family: cursive;
}


.back .holder .inner .write-up p{
    position: relative;
    width: auto;
    height: auto;
    color: #000;
    text-align: center;
    margin-top: 30px;
    font-family: cursive;
    font-weight: bold;
}

.back .holder .inner .write-up .code{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #000;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px
}

.back .holder .inner .write-up .code img{
    position: relative;
    width: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
    object-position: center;
}

.back .holder .inner .write-up .flex{
    position: relative;
    width: 150px;
    height: auto;
/*    background-color: red;*/
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: flex;
    
}

.back .holder .inner .write-up .flex i{
    position: relative;
    width: 30px;
    height: 24px;
    font-size: 20px;
    background-color: #03ff0d;
    margin-top: 25px;
    border-radius: 50%;
    text-align: center;
    padding-top: 3px;
    color: #fff;
}

.back .holder .inner .write-up .flex p{
    position: relative;
    width: auto;
    height: auto;
    margin-left: 10px;
    font-size: 13px

    
}

.front{
    position: relative;
    width: 100%;
    height: 900px;
    background-color: #dedad3;
    margin-top: 300px;
}

.front .holder2{
    position: absolute;
    width: 500px;
    height: 600px;
    background-color: #F3E1EF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front .holder2 .inner2{
    position: relative;
    width: 470px;
    height: 550px;
    background-image: linear-gradient(100deg, #B8E8E9, #000);
    margin-top: 25px;
    margin-left: 15px;
}

.front .holder2 .inner2 .write-up2{
    
    position: absolute;
    width: 420px;
    height: 510px;
    background-color: #F3E1EF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front .holder2 .inner2 .write-up2 img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}










